# Express API URL
NEXT_PUBLIC_API_URL="http://localhost:4000"

# Domain for link generation
NEXT_PUBLIC_DOMAIN="localhost:3000"

# Revalidation secret token for Express API calls
REVALIDATE_SECRET="revalidate-secret-token"
